<li class="nav-item">
    <div class="d-flex justify-content-between pt-2 pb-2 border-bottom" data-bs-toggle="collapse"
        data-bs-target="#menu_item6">
        <a class="nav-link text-secondary" href="#"> <i class="bi bi-person-vcard text-dark"
                style="margin-right: 5px;"></i> Nhân viên</a>
        <i class="bi bi-caret-down-fill text-secondary mt-2" style="cursor: pointer; margin-right: 15px;"></i>
    </div>
    <ul id="menu_item6" class="submenu collapse" data-bs-parent="#nav_accordion" style="list-style: none;">
        <li>
            @Html.ActionLink("Danh sách nhân viên", "Index", "NhanVien", null, new {@class = "nav-link text-secondary"})
        </li>
        <li>
            @Html.ActionLink("Chấm công", "Index", "ChamCongNhanVien", null, new {@class = "nav-link text-secondary"})
        </li>
        <li>
            @Html.ActionLink("Nhân viên nghỉ việc", "Index", "NhanVienNghiViec", null, new {@class = "nav-link text-secondary"})
        </li>
    </ul>
</li>